$corPrincipal:#1B4E59;
$corSegundaria: #ba4c0cda;
$cortxt: white;
$corProdutos:#592c28be;
$corContato: #f7782fbe;


$fonteTitle:  "Playfair Display", serif;
$fonteTxt: "Signika", sans-serif;
$fonteSection: "Orelega One", serif;

$mobile: 767px;
$tablet: 1023px;